.div-main, .div-sub{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-main{
    flex-direction: column;
}
.div-sub{
    width: 100%;
    height: 100%;
}
.div-sub{
    flex-direction: column;
}
.title-data{
    margin-top: 20px;
    font-size: 40px;
}

.button-box{
    margin-top: 30px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background: #ff8858f7;
    border: none;
}